.navigation{
    background-color: #515CC8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    gap: 0.5rem;
  color: #fff;
  height: 100%;
}

.navigation-logo{
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.nav-link{
padding: 1rem 2rem;
display: flex;
gap: 1rem;
border-radius: 20px;
}

.nav-link__icon{
  width: 20px;
  height: 20px;
}

.active{
  background-color: #3B47AB;
}